table.skills th, table.skills td {
	border-right: 1px solid gray;
}

.add-skill .save {
	float: right;
	margin-right: 40px;
}
.add-skill input[name="keyword"] {
	margin-bottom: 0px;
}

.keywords {
	width: 100%;
	min-height: 33px;
	border: 1px solid gray;
	border-top: none;
	padding-bottom: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
.keywords .keyword {
	height: 20px;
	border: 1px solid gray;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.keywords .keyword .text {
	vertical-align: middle;
	padding-right: 7px;
}
.keywords .keyword .cross {
	padding-right: 7px;
	padding-left: 7px;
	border-left: 1px solid gray;
	display: inline-block;
	height: 100%;
	cursor: pointer;
	-webkit-user-select: none;
}

#skillsTable .keywords {
	border-bottom: none;
}
#skillsTable .keywords .keyword {
	margin-top: 4px;
	margin-bottom: 4px;
}

#keywordTemplate {
	display: none;
}

#skillTemplate {
	display: none;
}